<template>
  <div class='row page-titles'>
    <div class='col-md-6 col-8 align-self-center'>
      <h3 class='text-themecolor'>{{$t('Dashboard')}}</h3>
      <ol class='breadcrumb'>
        <li v-for="breadcrumb in breadcrumbs" class='breadcrumb-item' :key="breadcrumb.name">
          <router-link :to="{name: breadcrumb.name}">{{$t(breadcrumb.name)}}</router-link>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumb',
  data() {
    return {}
  },
  created() {},
  methods: {
    selectInitValue() {
      return this.options[0]
    }
  },
  computed: {
    breadcrumbs() {
      var crumbs = []
      for (var i = 0; i < this.$route.matched.length; i++) {
        crumbs.push(this.$route.matched[i])
      }
      return crumbs
    }
  }
}
</script>

<style lang='scss' scoped>
  .stf-select__inner-wrapper {
    background-color: #fff !important;
  }
</style>
