<template>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" v-bind:class="{disactive: isDisactive}">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- User profile -->
      <div class="user-profile">
        <!-- User profile image -->
        <div class="profile-img"><img src="../../../assets/images/users/user.jpg" alt="user" /></div>
        <!-- User profile text-->
        <div class="profile-text">
          <a href="#" class="link u-dropdown" role="button">
            <br>
            <template v-if="wallet.userName">{{wallet.userName}}</template>
            <template v-else>{{customer.email}}</template>
          </a>
        </div>
      </div>
      <!-- End User profile text-->
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="nav-small-cap">{{$t('PERSONAL')}}</li>
          <li>
            <router-link :to="{name: 'Dashboard'}" class="has-arrow">
              <i class="mdi mdi-gauge"></i>
              <span class="hide-menu">{{$t('Dashboard')}}</span>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'Settings'}" class="has-arrow">
              <i class="mdi mdi-settings"></i>
              <span class="hide-menu">{{$t('Settings')}} </span>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'Send'}" class="has-arrow">
              <i class="mdi mdi-wallet"></i>
              <span class="hide-menu">{{$t('Send NVC')}} </span>
            </router-link>
          </li>
          <li class="nav-devider"></li>
          <li v-if="isAdmin">
            <router-link :to="{name: 'Admin'}" class="has-arrow">
              <i class="mdi mdi-cube-outline"></i>
              <span class="hide-menu">{{$t('Управление')}} </span>
            </router-link>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
      <!-- item-->
      <router-link :to="{name: 'Settings'}" class="link" :title="$t('Profile')">
        <i class="ti-settings"></i>
      </router-link>
      <!-- item-->
      <!-- item-->
      <a href="" class="link" :title="$t('Log out')" @click="$emit('signout')">
        <i class="mdi mdi-power"></i>
      </a>
    </div>
    <!-- End Bottom points-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
</template>

<script>
export default {
  name: 'Sidebar',
  data() {
    return {}
  },
  created() {},
  props: ['isDisactive'],
  computed: {
    fullName() {
      return this.customer.firstName + ' ' + this.customer.lastName
    },
    customer() {
      return this.$store.state.customerInfo
    },
    wallet() {
      return this.$store.state.walletInfo
    },
    isAdmin() {
      return this.$store.state.walletInfo.isAdmin
    }
  }
}
</script>

<style lang="scss" scoped>
.router-link-exact-active {
  border-left: 3px solid #009efb;
  color: #009efb;
  i {
    color: #009efb;
  }
}

.sidebar-footer {
  display: flex;
  justify-content: space-between;
}
.mini-sidebar .sidebar-footer {
  display: none;
}

.scroll-sidebar {
  overflow-x: visible;
  overflow-y: hidden;
  width: auto;
  height: 100%;
}
</style>
