<template>
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <!-- Logo icon -->
          <b>
            <i class="mdi mdi-hexagon-outline"></i>
          </b>
          <!-- Logo text -->
          <span>
            <span class="logo-text">Novacoin</span>
          </span>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto mt-md-0 ">
          <!-- This is  -->
          <li class="nav-item">
            <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" @click="toggleNav()">
              <i class="ti-menu"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" @click="minimizeSidebar()">
              <i class="icon-arrow-left-circle" v-if="!sidebarMinimized"></i>
              <i class="ti-menu" v-else></i>
            </a>
          </li>
        </ul>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">
          <li v-for="lang in allLangs" class="nav-item nav-lang" :key="lang">
            <a href="#" @click.prevent="setLang(lang)" class="nav-link" :class="{'active': currentLang === lang}">
              {{lang}}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a @click.prevent="$router.push({name:'Settings'})" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)">
              <img src="../../../assets/images/users/user.jpg" alt="user" class="profile-pic" />
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
</template>

<script>
import moment from 'moment'
export default {
  name: 'Topbar',
  data() {
    return {}
  },
  created() {},
  computed: {
    allLangs() {
      return this.$store.state.allLangs
    },
    currentLang() {
      return this.$store.state.lang
    }
  },
  props: ['sidebarMinimized'],
  methods: {
    toggleNav() {
      this.$emit('toggleNav')
    },
    setLang(lang) {
      this.$polyglot.setLang({ lang: lang })
      this.$store.commit('SET_LANG', lang)
      localStorage.setItem('lang', lang)
      this.lang = lang
      moment.locale(lang)
    },
    minimizeSidebar() {
      this.$emit('minimizeSidebar')
    }
  }
}
</script>


<style lang="scss" scoped>
@media (max-width: 767px) {
  .navbar-brand span {
    display: none;
  }
  .logo-text {
    display: none;
  }
}

.logo-text {
  font-size: 25px;
}

.nav-lang .active {
  background-color: rgba(255, 255, 255, 0.3);
}

.mini-sidebar .logo-text {
  display: none;
}
</style>
