<template>
    <div class="wallet-info">
        <div class="wallet-heading">
            <h5>
                {{$t('Your wallet')}}
            </h5>
        </div>
        <h4 class="wallet-address">
            {{wallet.nvcAddress}}
        </h4>
        <div v-if="wallet.balance" class="wallet-balance-wrapper">
            <h5 class="wallet-balance">
                <span class="wallet-balance__crypto">
                    {{wallet.balance | nvc}}
                </span>
                <span class="wallet-balance__usd">
                    ({{wallet.balance * rate + '$'}})
                </span>
            </h5>
            <h6>1 {{currency}} ≈ {{rate + '$'}}</h6>
        </div>
        <h5 v-else class="wallet-balance">
            {{$t('Your balance is empty')}}
        </h5>
    </div>
</template>

<script>
export default {
  name: 'WalletInfo',
  components: {},
  computed: {
    wallet() {
      return this.$store.state.walletInfo
    },
    currency() {
      return this.$store.state.currencyName
    },
    rate() {
      return this.$store.state.currencyRate
    }
  }
}
</script>

<style lang="sass" scoped>
.wallet-info
    margin-bottom: 20px
    background-color: #fff
    border-radius: 5px
    padding: 10px 20px
    .wallet-heading
        color: #014c8c
        margin-bottom: 10px
    .wallet-balance
        color: #009efb
        text-decoration: underline
</style>
