<template>
  <section class="login-register">
    <loading-screen :loading="loading"></loading-screen>
    <div class="login-box card">
      <div class="card-block">
        <component :is="currentView" @signIn="signIn" @signInWithOTP="signInWithOTP"></component>
        <div class="login-stats">
          <div class="label label-success">
            {{$t('Active users')}} : {{activeUsers}}
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
import auth from '../../api/auth'
import LoadingScreen from '../Elements/LoadingScreen'
import LoginForm from './LoginForm'
import LoginWithOTP from './LoginWithOTP'

const LOGIN_VIEW = 'LoginForm'
const OTP_VIEW = 'LoginWithOTP'

export default {
  name: 'Login',
  components: {
    LoadingScreen,
    LoginForm,
    LoginWithOTP
  },
  data() {
    return {
      loading: false,
      activeUsers: 'loading..',
      otpData: null
    }
  },
  created() {
    this.$store.state.isLoggedIn ? this.$router.push({ name: 'Dashboard' }) : null
    this.initStats()
  },
  methods: {
    signIn(creds) {
      auth.logIn(this, creds, { name: 'Dashboard' })
    },
    signInWithOTP(otp) {
      let creds = {}
      creds['otpString'] = this.otpData.otp
      creds['otpCode'] = otp
      creds['userId'] = this.otpData.userId
      auth.logInWithOTP(this, creds, { name: 'Dashboard' })
    },
    initStats() {
      auth.getStats(this)
    }
  },
  computed: {
    currentView() {
      return this.otpData ? OTP_VIEW : LOGIN_VIEW
    }
  }
}
</script>

<style scoped lang="scss">
.login-register {
  background-image: url('../../assets/images/background/bitcoin.jpg');
}
.login-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .label {
    margin: 5px 0;
    font-size: 16px;
  }
}
</style>
