<template>
  <form @submit.prevent="signInWithOTP()">
    <h3 class="box-title m-b-20">{{$t('Input your one time password')}}</h3>
    <div class="form-group">
      <div class="col-xs-12">
        <input class="form-control" :placeholder="$t('One Time Password')" v-model.trim="oneTimePassword" name="username">
      </div>
    </div>
    <div v-if="errorMsg" class="alert alert-danger" role="alert">
      {{errorMsg}}
    </div>
    <div class="form-group text-center m-t-20">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">{{$t('Log In')}}
        </button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: 'LoginWithOTP',
  data() {
    return {
      oneTimePassword: ''
    }
  },
  methods: {
    signInWithOTP() {
      this.$emit('signInWithOTP', this.oneTimePassword)
    }
  },
  computed: {
    errorMsg() {
      return this.$store.state.errorMessage
    }
  }
}
</script>

