<template>
  <form @submit.prevent="validateBeforeSubmit()" class="form-horizontal form-material">
    <h3 class="box-title m-b-20">{{$t('Sign In')}}</h3>
    <div class="form-group">
      <div class="col-xs-12">
        <input class="form-control" :placeholder="$t('Username')" v-model.trim="creds.login" name="username" v-validate data-vv-rules="required" :class="{'has-error': errors.has('email')}">
        <span v-show="errors.has('email') && submitted" class="error-msg text-danger">{{errors.first('email')}}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input class="form-control" type="password" name="password" :placeholder="$t('Password')" v-model.trim="creds.password" v-validate data-vv-rules="required" :class="{'has-error': errors.has('password')}"></div>
      <span v-show="errors.has('password') && submitted" class="error-msg text-danger">{{errors.first('password')}}</span>
    </div>
    <div v-if="errorMsg" class="alert alert-danger" role="alert">
      {{errorMsg}}
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <div class="checkbox checkbox-primary pull-left p-t-0">
          <input id="checkbox-signup" type="checkbox">
          <label for="checkbox-signup">{{$t('Remember me')}}</label>
        </div>
        <router-link class="text-dark pull-right" :to="{name: 'Reset'}">
          <i class="fa fa-lock m-r-5"></i>{{$t('Forgot pwd')}}?</a>
        </router-link>
      </div>
    </div>
    <div class="form-group text-center m-t-20">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">{{$t('Log In')}}
        </button>
      </div>
    </div>
    <div class="form-group m-b-0">
      <div class="col-sm-12 text-center">
        <p>{{$t('Don\'t have an account?')}}
          <router-link :to="{name: 'Signup'}">
            <b>{{$t('Sign Up')}}</b>
          </router-link>
        </p>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: 'LoginForm',
  data() {
    return {
      creds: {
        login: '',
        password: ''
      },
      loading: false,
      submitted: false
    }
  },
  methods: {
    signIn() {
      this.$emit('signIn', this.creds)
    },
    validateBeforeSubmit(e) {
      this.submitted = true
      this.$validator.validateAll().then(result => {
        if (result) {
          this.signIn()
          return
        }
      })
    }
  },
  computed: {
    errorMsg() {
      return this.$store.state.errorMessage
    }
  }
}
</script>

