<template>
  <div class="login-register">
    <loading-screen :loading="loading"></loading-screen>
    <div class="login-box card">
      <div class="card-block">
        <form @submit.prevent="validateBeforeSubmit()" class="form-horizontal form-material">
          <h3 class="box-title m-b-20">{{$t('Sign Up')}}</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="text" name="username" :placeholder="$t('Username')" v-model="creds.login" v-validate="usernameRules" :class="{'has-error': errors.has('username')}">
              <span v-show="errors.has('username') && submitted" class="errorMsg text-danger">{{errors.first('username')}}</span>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="password" :placeholder="$t('Password')" name="password" v-model="creds.password" v-validate data-vv-rules="required">
              <span v-show="errors.has('password') && submitted" class="error-msg text-danger">{{errors.first('password')}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="password" name="confirm" :placeholder="$t('Confirm Password')" v-model="confirm" v-validate data-vv-rules="required">
              <span v-show="errors.has('confirm') && submitted" class="error-msg text-danger">{{errors.first('confirm')}}</span>
            </div>
          </div>
          <div class="form-group">
            <div v-if="errorMsg" class="alert alert-danger" role="alert">
              {{errorMsg}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="checkbox checkbox-success p-t-0 p-l-10">
                <input id="checkbox-signup" name="terms" type="checkbox" v-model="agreement" v-validate data-vv-rules="required">
                <label for="checkbox-signup">{{$t('I agree to all')}}
                  <router-link target="_blank" :to="{name: 'Agreement'}">{{$t('Terms')}}</router-link>
                </label>
              </div>
            </div>
            <span class="error-msg text-danger" v-show="!agreement && submitted">{{$t('The terms field is required')}}</span>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">{{$t('Sign Up')}}
              </button>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              <p>{{$t('Already have an account?')}}
                <router-link :to="{name: 'Login'}" class="text-info m-l-5">
                  <b>{{$t('Sign In')}}</b>
                </router-link>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '../../api/auth'
import LoadingScreen from '../Elements/LoadingScreen'

export default {
  name: 'Signup',
  components: {
    LoadingScreen
  },
  data() {
    return {
      creds: {
        login: '',
        password: ''
      },
      agreement: false,
      confirm: '',
      loading: false,
      validated: false,
      submitted: false,
      usernameRules: {
        required: true,
        min: 6
      }
    }
  },
  created() {
    this.$store.state.isLoggedIn ? this.$router.push({ name: 'Dashboard' }) : null
  },
  computed: {
    errorMsg() {
      return this.$store.state.errorMsg
    }
  },
  methods: {
    signup() {
      auth.signUp(this, this.creds, { name: 'Dashboard' })
    },
    validateBeforeSubmit() {
      this.submitted = true
      this.$validator.validateAll().then(result => {
        if (result) {
          this.signup()
          return
        }
      })
    }
  }
}
</script>

<style scoped>
.login-register {
  background-image: url('../../assets/images/background/bitcoin.jpg');
}
</style>
