<template>
  <section class="transactions">
    <div class="table-responsive">
      <b-table :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" @sort-changed="sortingChanged" hover small :items="transactionsByDate" :fields="fields" :current-page="1" :per-page="transactions.length" :filter="getFilter()">
        <!--IF ARRAY IS EMPTY-->
        <template slot="empty">
          <h3 class="display-8">{{$t('There are no transactions')}}</h3>
        </template>
        <!--IF ARRAY FILTERED IS EMPTY-->
        <template slot="emptyfiltered">
          {{$t('There are no transactions due your filter')}}
        </template>
        <!--AMOUNT-->
        <template slot="amount" slot-scope="transaction">
          <span class="crypto">
            <i class="fa fa-level-up text-success" v-if="transaction.item.type === 'deposit'"></i>
            <i class="fa fa-level-down text-danger" v-else></i>
            <span :class="{'text-success': transaction.item.class === 'isDeposit', 'text-danger': transaction.item.class === 'isWithdrawal'}">
              <template v-if="transaction.item.currency === 'eur'">
                {{transaction.value | fiat}}
                <span style="color: #c6c6c6;">000000</span>
              </template>
              <template v-else>{{transaction.value | currency('', 8)}}</template>
            </span>
          </span>
        </template>
        <!--CURRENCY-->
        <template slot="currency" slot-scope="transaction">

        </template>
        <!--FIAT AMOUNT-->
        <template slot="fiat_amount" slot-scope="transaction">
          {{transaction.value | currency('', 2)}}
        </template>
        <!--EXCHANGE RATE - FIAT/AMOUNT-->
        <template slot="exchange_rate" slot-scope="transaction">
          {{transaction.item.exchange_rate | currency('', 2)}}
        </template>
        <!--CATEGORY DEPOSIT OR WITHDRAWAL-->
        <template slot="type" slot-scope="transaction">
          <span class="label label-light-success"> {{transaction.item.type}}</span>
        </template>
        <!--DATE AND TIME-->
        <template slot="timestamp" slot-scope="transaction">
          <span class="datetime">
            {{transaction.value | moment}}
          </span>
        </template>
      </b-table>
    </div>
    <!--PAGINATION-->
    <div class="justify-content-center row" v-if="transactions.length > 0">
      <b-pagination size="md" :total-rows="transactionsCount" :per-page="7" @input="onPageChange" />
    </div>
  </section>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Desk',
  props: ['transactions', 'transactionsCount'],
  created() {},
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      sortBy: 'id',
      sortDesc: true,
      fields: {
        id: {
          label: 'id',
          sortable: true,
          class: 'text-right'
        },
        sum: {
          label: 'Amount',
          sortable: true,
          class: 'text-right'
        },
        timestamp: {
          label: 'When',
          sortable: true,
          class: 'text-center'
        },
        type: {
          label: 'Type',
          sortable: false,
          class: 'text-center'
        }
      }
    }
  },
  filters: {
    moment(date) {
      return moment.unix(date).format('H:mm D MMMM YYYY')
    },
    fiat(value) {
      return (Math.round(value * 100) / 100).toFixed(2)
    }
  },
  computed: {
    totalPages() {
      return this.transactionsCount / 7
    },
    filter() {
      return this.$store.state.dashboardFilter
    },
    transactionsByDate() {
      /*  Sorting by date */
      let ordered = this.transactions
      if (ordered) {
        ordered
          .sort(function(a, b) {
            let key1 = new Date(a.date)
            let key2 = new Date(b.date)
            if (key1 < key2) {
              return -1
            } else if (key1 === key2) {
              return 0
            } else {
              return 1
            }
          })
          .reverse()
      }
      return ordered
    }
  },
  methods: {
    onPageChange(page) {
      console.log('page change', page)
      this.$emit('pageChanged', page)
    },
    getFilter() {
      if (this.filter) {
        return item => {
          const selectedDate = moment(new Date(this.filter.date)).format('YYYY-MM-DD')
          const elementDate = moment(new Date(item.timestamp)).format('YYYY-MM-DD')
          return (
            (item.sum <= parseInt(this.filter.max) || this.filter.max === '') &&
            (item.sum >= parseInt(this.filter.min) || this.filter.min === '') &&
            (this.filter.date === '' || elementDate === selectedDate) &&
            (item.type === this.filter.category || this.filter.category === 'All')
          )
        }
      }
    },
    // LOGGING SORTING DATA ON SORT
    sortingChanged(ctx) {
      console.log(ctx)
    }
  }
}
</script>

<style lang="scss">
.crypto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    margin-right: 3px;
  }
}

.datetime {
  min-width: 107px;
  span {
    font-size: 12px;
  }
}
</style>
