<template>
  <div class="filters">
    <form>
      <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12">
          <div class="form-group">
            <button class="btn btn-inverse waves-effect waves-light" @click.prevent="resetFilter()">
              {{$t('Reset')}}
            </button>
            <select class='custom-select' v-model="filter.category" @input="setCategory">
              <option selected value='All'>{{$t('All categories')}}</option>
              <option v-for="type in getTypes" :key="type" :value="type">
                {{$t(type)}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <div class="form-group">
            <datepicker v-model="filter.date" :placeholder="$t('Select date')" :input-class="'no-border form-control'"></datepicker>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="number" :placeholder="$t('max')" class="form-control" @input="debounceMax" v-model="filter.inputMax">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="number" :placeholder="$t('min')" class="form-control" @input="debounceMin" v-model="filter.inputMin">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import _ from 'lodash'

export default {
  name: 'Filters',
  components: {
    Datepicker
  },
  data() {
    return {
      filter: {
        category: 'All',
        date: '',
        max: '',
        min: '',
        inputMax: '',
        inputMin: ''
      }
    }
  },
  computed: {
    getTypes() {
      return this.$store.getters.getTypes
    }
  },
  methods: {
    setCategory(e) {
      this.filter.category = e.target.value
      this.$store.commit('SET_DASHBOARD_FILTER', this.filter)
    },
    debounceMax: _.debounce(function(e) {
      this.filter.max = e.target.value
      this.$store.commit('SET_DASHBOARD_FILTER', this.filter)
    }, 800),
    debounceMin: _.debounce(function(e) {
      this.filter.min = e.target.value
      this.$store.commit('SET_DASHBOARD_FILTER', this.filter)
    }, 800),
    resetFilter() {
      this.filter.category = 'All'
      this.filter.max = ''
      this.filter.min = ''
      this.filter.date = ''
      this.filter.inputMax = ''
      this.filter.inputMin = ''
      this.$store.commit('SET_DASHBOARD_FILTER', this.filter)
    }
  }
}
</script>
