<template>
  <tr :class="transactionClass">
    <td class="text-center text-sm-right crypto">
      <i class="fa fa-level-up text-success" v-if="isDeposit"></i>
      <i class="fa fa-level-down text-danger" v-else></i>
      <span :class="[isDeposit ? 'text-success' : 'text-danger']">
        <slot name="crypto"></slot>
      </span>
    </td>
    <td class="text-center text-sm-left">
      <slot class="label label-light-primary" name="currency"></slot>
    </td>
    <td class="text-center text-sm-right">
      <slot name="fiat"></slot>
    </td>
    <td class="text-right">
      <slot name="exchangeRate"></slot>
    </td>
    <td class="datetime text-center">
      <slot name="date"></slot>
    </td>
    <td>
      <slot name="category"></slot>
    </td>
  </tr>
</template>

<script>
export default {
  data() {
    return {
      title: 'title'
    }
  },
  props: ['transactionClass'],
  created() {},
  computed: {
    isDeposit() {
      return this.transactionClass === 'isDeposit'
    }
  }
}
</script>


<style lang="scss" scoped>
  .crypto {
    display: flex;
    align-items: center;
    i {
      margin-right: 3px;
    }
  }
  .datetime {
    min-width: 107px;
    span {
      font-size: 12px;
    }
  }
</style>
