<template>
  <section class="error-page">
    <div class="error-box">
      <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">{{$t('Page not found')}}!</h3>
        <p class="text-muted m-t-30 m-b-30">{{$t('YOU SEEM TO BE TRYING TO FIND HIS WAY HOME')}}</p>
        <router-link :to="{name: 'Dashboard'}" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">{{$t('Back to home')}}</router-link>
      </div>
      <footer class="footer text-center">2017 © Novacoin.</footer>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PageNotFound',
  data() {
    return {}
  }
}
</script>

<style lang="scss">
  .error-box {
    // background-image: url('../../assets/images/background/bitcoin.jpg');
  }
</style>

