<template>
  <div class="login-register" style="">
    <div class="login-box card">
      <div class="card-block">
        <form v-if="!resetRequested" class="form-horizontal form-material" id="loginform" action="index.html">
          <h3 class="box-title m-b-20">{{$t('Recover Password')}}</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="text" name="email" placeholder="Username" v-model="login" v-validate data-vv-rules="required|email" :class="{'has-error': errors.has('email')}">
              <span v-show="errors.has('email')" class="msg-error text-danger">{{errors.first('email')}}</span>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" @click.prevent="reset()" type="submit">
                {{$t('Reset')}}
              </button>
            </div>
          </div>
        </form>
        <form v-else class="form-horizontal form-material" id="form-code">
          <h3 class="box-title m-b-20">{{$t('Confirmation code')}}</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="text" name="confirm-code" placeholder="Code" v-model="confirmCode" v-validate data-vv-rules="required" :class="{'has-error': errors.has('confirmCode')}">
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" @click.prevent="sendCode()" type="submit">
                {{$t('Send')}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '../../api/auth'

export default {
  name: 'Reset',
  data() {
    return {
      login: '',
      resetRequested: false,
      confirmCode: '',
      confirmHash: null
    }
  },
  methods: {
    reset() {
      auth.resetRequest(this, this.creds)
    },
    sendCode() {
      auth.resetSendCode(this, {
        username: this.login,
        confirmCode: this.confirmCode
      })
    }
  },
  computed: {
    errorMsg() {
      return this.$store.state.errorMsg
    },
    creds() {
      return { username: this.login }
    }
  }
}
</script>

<style>
  .login-register {
    background-image: url('../../assets/images/background/bitcoin.jpg');
  }
</style>
