<template>
  <div class="login-register">
    <div class="login-box card">
      <div class="card-block">
        <form class="form-horizontal form-material" id="loginform" action="index.html">
          <h3 class="box-title m-b-20">{{$t('New password')}}</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input :disabled="success" class="form-control" type="password" required="" :placeholder="$t('Password')" v-model="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input :disabled="success" class="form-control" type="password" required="" :placeholder="$t('Repeat password')" v-model="repeatPassword">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <span v-if="errorMsg && !success" class="error-msg text-danger">{{errorMsg}}</span>
              <span v-if="successMsg && success" class="text-success success-msg">{{successMsg}}</span>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button v-if="!success" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" @click.prevent="resetPassword">
                {{$t('Reset')}}
              </button>
              <button v-if="success" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" @click.prevent="$router.push('login')">
                {{$t('Login')}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '../../api/auth'

export default {
  name: 'Reset',
  data() {
    return {
      password: '',
      repeatPassword: '',
      confirmHash: null,
      login: null,
      errorMsg: '',
      successMsg: '',
      success: false
    }
  },
  methods: {
    resetPassword() {
      this.validateFields()
        ? auth.resetPassword(this, this.creds, { name: 'Dashboard' })
        : (this.errorMsg = 'Passwords do not match or less than 6 symbols')
    },
    validateFields() {
      return this.password === this.repeatPassword && this.password.length >= 6
    },
    hasChanged() {
      this.success = true
      this.successMsg = 'Password has successfully changed'
    }
  },
  computed: {
    creds() {
      return {
        username: this.login,
        newPassword: this.password,
        validateHash: this.confirmHash
      }
    }
  },
  created() {
    if (this.$route.params.confirmHash) {
      this.confirmHash = this.$route.params.confirmHash
      this.login = this.$route.params.login
    } else {
      this.$router.push({ name: 'Reset' })
    }
  }
}
</script>

<style>
  .login-register {
    background-image: url(../../assets/images/background/workspace.jpg);
  }
</style>
