<template>
 <transition name="fade">
        <div class="loading-cover" v-if="loading">
          <moon-loader :loading="loading" :color="color" :size="size"></moon-loader>
        </div>
    </transition>
</template>

<script>
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
export default {
  components: {
    MoonLoader
  },
  props: ['loading'],
  name: 'LoadingScreen',
  data() {
    return {
      color: '#000',
      size: '70px'
    }
  }
}
</script>

<style scoped>
.loading-cover {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.7);
  z-index: 100;
  align-items: center;
  justify-content: center;
}
</style>
