<template>
  <div id="app">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import './assets/scss/icons/font-awesome/css/font-awesome.min.css'
import './assets/scss/icons/material-design-iconic-font/css/material-design-iconic-font.min.css'
import './assets/scss/icons/material-design-iconic-font/css/materialdesignicons.min.css'
import './assets/scss/icons/themify-icons/themify-icons.css'
import './assets/scss/icons/linea-icons/linea.css'
import './assets/scss/icons/simple-line-icons/css/simple-line-icons.css'
export default {
  name: 'app'
}
</script>

<style lang="scss">
  @import 'assets/scss/style';
  
  .fade-enter-active,
  .fade-leave-active {
    transition-property: opacity transform;
    transition-duration: .5s;
  }

  .fade-enter-active {
    transition-delay: .5s;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }

  .no-border {
    border: 0;
  }

  .text-black {
    color: #000;
  }

  .error-input .form-control {
    border-color: $danger;
    background-image: linear-gradient(#d9d9d9, #009efb), linear-gradient($danger, #d9d9d9);
  }
</style>
