<template>
  <div class="admin">
    <div class="card-block card">
      <h2>{{$t('Manage Withdrawals')}}</h2>
      <div class="withdrawals">
        <template>
          <b-table striped hover :items="withdrawals" :fields="fields">
            <template slot="user" slot-scope="row">
              <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
                {{ row.detailsShowing ? 'Hide' : 'Show'}} {{row.value.userName}}
              </b-button>
            </template>
            <template slot="row-details" slot-scope="row">
              <b-card>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right">
                    <b>User ID:</b>
                  </b-col>
                  <b-col>{{ row.item.user.userId }}</b-col>
                </b-row>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right">
                    <b>User Balance:</b>
                  </b-col>
                  <b-col>{{ row.item.user.userBalance }}</b-col>
                </b-row>
              </b-card>
            </template>
            <template slot="action" slot-scope="row">
              <button class="action-approve btn btn-success" @click="approve(row.item.requestId)">
                <i class="mdi mdi-check"></i>
              </button>
              <button class="action-forbid  btn btn-danger" @click="forbid(row.item.requestId)">
                <i class="mdi mdi-close-circle-outline"></i>
              </button>
            </template>
          </b-table>
        </template>
        <!-- <b-alert v-if="successMsg" variant="success" dismissible :show="true" @dismissed="successMsg = null">{{$t(successMsg)}}</b-alert>
                <b-alert v-if="errorMsg" variant="danger" dismissible :show="true" @dismissed="errorMsg = null">{{$t(errorMsg)}}</b-alert> -->
      </div>
    </div>
  </div>
</template>

<script>
//
// ─── ADMIN COMPONENT ───────────────────────────────────────────────────────
//
import LoadingScreen from '../Elements/LoadingScreen'
import Admin from '../../api/admin'

export default {
  name: 'AdminView',
  components: {
    LoadingScreen
  },
  data() {
    return {
      withdrawals: [],
      loading: false,
      fields: [
        {
          key: 'requestId',
          label: 'Request id',
          sortable: true
        },
        {
          key: 'address_to',
          label: 'Address to',
          sortable: true
        },
        {
          key: 'amount',
          label: 'Amount',
          sortable: true
        },
        {
          key: 'user',
          label: 'User',
          sortable: true
        },
        {
          key: 'status',
          label: 'Status',
          sortable: true
        },
        {
          key: 'action',
          label: 'Action'
        }
      ]
    }
  },
  created() {
    Admin.getWithdrawList(this)
  },
  methods: {
    approve(value) {
      console.log(value)
      Admin.confirmWithdraw(this, {
        requestId: value
      })
    },
    forbid(value) {
      console.log(value)
    },
    removeRequest(requestId) {
      let index = this.withdrawals.map(item => item.requestId).indexOf(requestId)
      this.withdrawals.splice(index, 1)
    }
  }
}
</script>

<style lang="scss" scoped="scoped"></style>