<template>
  <div class='dashboard'>
    <loading-screen :loading="loading"></loading-screen>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='card'>
          <div class='card-block'>
            <h4 class='card-title'>{{$t('Transactions list')}}</h4>
            <filters></filters>
            <desk :transactions="transactions" :transactionsCount="transactionsCount" @pageChanged="loadPage"></desk>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Transaction from './Blocks/Transaction'
import fetch from '../../api/fetch'
import LoadingScreen from '../Elements/LoadingScreen'
import Desk from './Blocks/Desk'
import Filters from './Blocks/Filters'
export default {
  name: 'Dashboard',
  components: {
    Transaction,
    LoadingScreen,
    Desk,
    Filters
  },
  created() {
    this.getTransactions()
  },
  data() {
    return {
      data: [],
      dataLoading: false,
      loading: true
    }
  },
  methods: {
    loadPage(page) {
      fetch.getTransactions(this, page)
    },
    getTransactions() {
      fetch.getTransactions(this, 1)
    }
  },
  computed: {
    transactions() {
      return this.$store.state.transactions
    },
    transactionsCount() {
      return this.$store.state.transactionsCount
    }
  }
}
</script>

<style lang='scss' scoped>
@media (max-width: 767px) {
}

@media (max-width: 544px) {
  .card-block {
    padding: 0;
    background-color: transparent;
  }
  .card {
    background-color: transparent;
  }
}

.transaction span {
  font-size: 16px;
}
</style>

