<template>
  <div class="page-dashboard">
    <div class='dashboard fix-header fix-sidebar card-no-border' :class="{'mini-sidebar': sidebarMinimized, 'show-sidebar': sidebarIsOpen}">
      <div id='main-wrapper'>
        <sidebar @signout="logOut()" :wallet="this.wallet"></sidebar>
        <topbar @toggleNav="toggleSidebar" @minimizeSidebar="minimizeSidebar()" :sidebarMinimized="sidebarMinimized"></topbar>
        <div class='page-wrapper'>
          <div class='container-fluid'>
            <breadcrumb @signout="signout()" :wallet="this.wallet"></breadcrumb>
            <wallet-info :wallet="wallet"></wallet-info>
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Sidebar from './Layout/Sidebar'
import Topbar from './Layout/Topbar'
import Breadcrumb from './Layout/Breadcrumb'
import WalletInfo from './Layout/WalletInfo.vue'
import auth from '../../api/auth'
import user from '../../api/user'
import _ from 'lodash'
import fetch from '../../api/fetch'
export default {
  name: 'Index',
  components: {
    Sidebar,
    Topbar,
    Breadcrumb,
    WalletInfo
  },
  created() {
    user.getWalletInfo(this)
    this.checkScreen()
    window.addEventListener('resize', _.debounce(this.checkScreen, 200))
    this.getCurrencyRate()
  },
  mounted() {},
  watch: {
    /*  CLOSE SIDEBAR ON ROUTE CHANGED  */
    $route: function() {
      this.sidebarIsOpen = false
    }
  },
  data() {
    return {
      sidebarIsOpen: false,
      mobile: false,
      sidebarMinimized: false,
      wallet: ''
    }
  },
  methods: {
    getCurrencyRate() {
      fetch.getCurrencyRate(this)
    },
    checkScreen() {
      window.innerWidth < 1024 ? (this.sidebarMinimized = true) : (this.sidebarMinimized = false)
    },
    minimizeSidebar() {
      this.sidebarMinimized = !this.sidebarMinimized
    },
    toggleSidebar() {
      this.sidebarIsOpen = !this.sidebarIsOpen
    },
    logOut() {
      auth.logOut(this, { name: 'Login' })
    }
  },
  computed: {}
}
</script>
