<template>
    <div class="send">
        <div class="card-block card">
            <h2>{{$t('Send NVC')}}</h2>
            <div class="messages">
                <b-alert v-if="successMsg" variant="success" dismissible :show="true" @dismissed="successMsg = null">{{$t(successMsg)}}</b-alert>
                <b-alert v-if="errorMsg" variant="danger" dismissible :show="true" @dismissed="errorMsg = null">{{$t(errorMsg)}}</b-alert>
            </div>

            <form v-if="!isRequested" @submit.prevent="sendRequest()" class="form-vertical form-material">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="address" :placeholder="$t('NVC Address')" v-model="nvcAddress" v-validate="'required'" :class="{'has-error': errors.has('address')}" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="amount" :placeholder="$t('NVC Amount')" v-model="nvcAmount" v-validate="'required'" :class="{'has-error': errors.has('amount')}" autocomplete="off">
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                            {{$t('Send')}}
                        </button>
                    </div>
                </div>
            </form>
            <form v-else @submit.prevent="confirmRequest()" class="form-vertical form-material">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="confirmCode" placeholder="Confirm Code" v-model="confirmCode" v-validate="'required'" :class="{'has-error': errors.has('confirmCode')}" autocomplete="off">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                            {{$t('Confirm')}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
//
// ─── SEND COINS COMPONENT ───────────────────────────────────────────────────────
//
import transactions from './../../api/transactions.js'
import LoadingScreen from '../Elements/LoadingScreen'

export default {
  name: 'SendView',
  components: {
    LoadingScreen
  },
  data() {
    return {
      nvcAmount: '',
      nvcAddress: '',
      confirmCode: '',
      isRequested: false,
      requestId: '',
      loading: false,
      successMsg: null,
      errorMsg: null
    }
  },
  watch: {
    nvcAmount: function(val, prev) {
      var newVal = val.replace(/\D/g, '.')
      if (newVal.split('.').length === 3) {
        this.nvcAmount = prev
      } else {
        this.nvcAmount = newVal
      }
    }
  },
  created() {},
  methods: {
    sendRequest() {
      let nvcAddress = this.nvcAddress
      let nvcAmount = this.nvcAmount
      transactions.sendRequest(this, {
        addressTo: nvcAddress,
        amount: nvcAmount
      })
    },
    confirmRequest() {
      let requestId = this.requestId
      let confirmCode = this.confirmCode
      transactions.confirmRequest(this, {
        requestId: requestId,
        confirmCode: confirmCode
      })
    },
    resetForms() {
      this.nvcAmount = ''
      this.nvcAddress = ''
      this.confirmCode = ''
      this.errorMsg = ''
    }
  }
}
</script>

<style lang="scss" scoped="scoped"></style>