.vue-switcher-theme--flat {
  &.vue-switcher-color--flat-green {
    div {
      background-color: lighten(#86d993, 10%);
      width: 46px;
      height: 25px;
      // background: #fbfbfb;
      border-radius: 2em;
      padding: 2px;
      transition: all .4s ease;
      border: 1px solid #e8eae9;
      
      &:after {
        // for the circle on the switch
        width: 22px;
        height: 22px;
        top: 0;
        border-radius: 50%;
        background-color: lighten(#e8eae9, 0%);
        transition: left .4s cubic-bezier( 0.175, 0.885, 0.320, 1.275), padding .3s ease, margin .3s ease;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
      }
    }
    &.vue-switcher--unchecked {
      div {
        background-color: lighten(#e8eae9, 5%);
        &:after {
          background-color: lighten(#e8eae9, 0%);
        }
      }
    }
  }
}