<template>
  <div class="card-block">
    <loading-screen :loading="loading"></loading-screen>
    <form class="form-horizontal form-material" @submit.prevent="updateCustomerInfo()">
      <div class="form-group">
        <label class="col-md-12">{{$t('First Name')}}</label>
        <div class="col-md-12">
          <input type="text" :placeholder="$t('First Name here')" class="form-control form-control-line" v-model="customer.firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">{{$t('Last Name')}}</label>
        <div class="col-md-12">
          <input type="text" :placeholder="$t('Last Name here')" class="form-control form-control-line" v-model="customer.lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">{{$t('Phone No')}}</label>
        <div class="col-md-12">
          <input v-model="customer.phone" v-mask="'+# (###) ### ## ##'" type="text" placeholder="+_ (___) ___-__-__" class="form-control form-control-line">
        </div>
      </div>
      <div class="form-group" v-if="!changed">
        <div class="col-sm-12">
          <b-alert variant="success" dismissible :show="showInfoMessage" @dismissed="showInfoMessage=false">
            {{$t('Profile has successfully changed')}}!
          </b-alert>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">{{$t('Update Profile')}}</button>
        </div>
      </div>
    </form>
  </div>
</template>


<script>
import User from '../../../api/user'
import LoadingScreen from '../../Elements/LoadingScreen'

export default {
  name: 'Settings',
  components: {
    LoadingScreen
  },
  data() {
    return {
      loading: false,
      changed: false,
      errorMsg: '',
      showInfoMessage: false
    }
  },
  computed: {
    customer() {
      return this.$store.state.customerInfo
    }
  },
  methods: {
    updateCustomerInfo() {
      User.updateCustomerInfo(this, this.customer)
    }
  }
}
</script>
<style scoped lang="scss">
</style>

