<template>
  <div class="card-block profile-telegram">
    <loading-screen :loading="loading"></loading-screen>
    <h5 class="mb-3">{{$t('Notifications Status')}}</h5>
    <telegram-block></telegram-block>
    <manage-mail :user="user"></manage-mail>
    <notification-services></notification-services>
    <div>
    </div>
  </div>
</template>

<script>
import User from '../../../api/user'
import Settings from '../../../api/settings'
import Switches from 'vue-switches'
import LoadingScreen from '../../Elements/LoadingScreen'
import ManageMail from './ManageMail.vue'
import NotificationServices from './NotificationServices'
import TelegramBlock from './TelegramBlock'

export default {
  name: 'Notifications',
  components: {
    Switches,
    LoadingScreen,
    ManageMail,
    NotificationServices,
    TelegramBlock
  },
  data() {
    return {
      user: {},
      // emailInfo: '',
      loading: false
    }
  },
  created() {},
  beforeCreate() {
    Settings.getTelegramInfo(this)
    User.getCustomerInfo(this)
  },
  computed: {},
  methods: {}
}
</script>

<style>
  .profile-telegram {
    position: relative;
  }
</style>
