<template>
  <div class="card-block manage-security">
    <loading-screen :loading="loading"></loading-screen>
    <h5 class="mb-3">{{$t('TWO-FACTOR AUTHENTICATION')}}
      <template v-if="isGoogleAuthEnabled">
        <span class="label label-light-success">{{$t('ENABLED')}}</span>
      </template>
      <template v-else>
        <span class="label label-light-danger">{{$t('DISABLED')}}</span>
      </template>
    </h5>
    <form v-if="!isGoogleAuthEnabled" class="form-horizontal form-material" @submit.prevent="initGoogleAuth()">
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">{{$t('Enable 2FA')}}</button>
        </div>
      </div>
    </form>
    <form v-else class="form-horizontal form-material" @submit.prevent="disabling = true">
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-danger" type="submit">{{$t('Disable 2FA')}}</button>
        </div>
      </div>
    </form>
    <!-- SET GOOGLE AUTH FORM -->
    <form v-if="initAuthData && !googleAuthSetResult" class="form-horizontal form-material" @submit.prevent="saveGoogleAuth()">
      <div class="form-group">
        <div class="col-sm-12">
          <template>
            <qrcode-vue :value="getQr" :size="200"></qrcode-vue>
          </template>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <template v-if="initAuthData">
            <h3>{{initAuthData.secret}}</h3>
            <p>Wright down your secret code to have access to your account</p>
          </template>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <template>
            <label class="col-md-12">{{$t('Input your 6-digit authenticator code')}}</label>
            <input v-model="googleAuthCode" type="text" class="form-control form-control-line" name="googleAuthCode" v-validate data-vv-rules="required" :class="{'has-error': errors.has('googleAuthCode')}" v-mask="'######'">
            <span v-show="errors.has('googleAuthCode')" class="error-msg text-danger">{{errors.first('googleAuthCode')}}</span>
          </template>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">{{$t('Save')}}</button>
        </div>
      </div>
    </form>
    <div v-if="result" class="form-group">
      <div class="label label-light-success">
        {{result}}
      </div>
    </div>

    <!-- CANCEL GOOGLE AUTH FORM -->
    <form v-if="disabling && isGoogleAuthEnabled" class="form-horizontal form-material" @submit.prevent="cancelGoogleAuth()">
      <div class="form-group">
        <div class="col-sm-12">
          <h2>Disabling 2FA</h2>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <template>
            <label class="col-md-12">{{$t('Input your 6-digit authenticator code')}}</label>
            <input v-model="googleAuthCode" type="text" class="form-control form-control-line" name="googleAuthCode" v-validate data-vv-rules="required" :class="{'has-error': errors.has('googleAuthCode')}" v-mask="'######'">
            <span v-show="errors.has('googleAuthCode')" class="error-msg text-danger">{{errors.first('googleAuthCode')}}</span>
          </template>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">{{$t('Disable')}}</button>
        </div>
      </div>
    </form>
    <div v-if="errorMessage" class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
  </div>
</template>

<script>
import Settings from '../../../api/settings'
import LoadingScreen from '../../Elements/LoadingScreen'
import Switches from 'vue-switches'
import QrcodeVue from 'qrcode.vue'

export default {
  name: 'ManageSecurity',
  components: {
    LoadingScreen,
    Switches,
    QrcodeVue
  },
  data() {
    return {
      loading: false,
      initAuthData: null,
      googleAuthCode: '',
      googleAuthSetResult: null,
      disabling: false,
      googleAuthCancelResult: null,
      result: ''
    }
  },
  created() {
    Settings.getGoogleAuthStatus(this)
  },
  methods: {
    initGoogleAuth() {
      Settings.initGoogleAuth(this)
    },
    saveGoogleAuth() {
      let creds = {
        secret: this.initAuthData.secret,
        code: this.googleAuthCode
      }
      Settings.setGoogleAuth(this, creds)
    },
    cancelGoogleAuth() {
      let creds = {
        code: this.googleAuthCode
      }
      Settings.cancelGoogleAuth(this, creds)
    }
  },
  computed: {
    isGoogleAuthEnabled() {
      return this.$store.state.isGoogleAuthEnabled
    },
    username() {
      return this.$store.state.walletInfo.userName
    },
    appTitle() {
      return this.$store.state.appTitle
    },
    getQr() {
      if (this.initAuthData) {
        return `otpauth://totp/${this.appTitle}:${this.username}?secret=${this.initAuthData.secret}`
      }
      return null
    },
    errorMessage() {
      return this.$store.state.errorMessage
    }
  }
}
</script>
