<template>
    <div class="mail-notify">
        <div class="form-horizontal form-material">
            <div class="form-group">
                <div class="col-12">
                    <input v-model="emailInfo.currentEmail" type="text" placeholder="E-mail" class="form-control mb-3" v-validate="'required|email'" name="email">
                    <div v-show="errors.has('email')" class="alert alert-danger">{{ errors.first('email') }}</div>
                </div>
                <div class="col-12">
                    <button @click="changeEmail()" class="btn btn-primary">Изменить</button>
                </div>

            </div>
            <div v-if="(isPendingEmail || emailChanged) && !emailConfirmed" class="form-group">
                <div class="col-12">
                    <div class="alert alert-info">
                        Ожидается подтверждение почтового ящика. Проверьте почту
                    </div>
                </div>
                <div class="col-12">
                    <input v-model="confirmCode" type="text" placeholder="Confirm code" class="form-control mb-3" v-validate="'required'" name="email">
                </div>
                <div class="col-12">
                    <button @click="confirmEmail()" class="btn btn-primary">Потвердить</button>
                </div>
            </div>
            <div class="form-group" v-if="errorMsg">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import User from '../../../api/user.js'
export default {
  name: 'ManageMail',
  props: ['user'],
  data() {
    return {
      confirmCode: '',
      emailConfirmed: false,
      emailChanged: false,
      errorMsg: '',
      emailInfo: {}
    }
  },
  created() {
    User.getEmailInfo(this)
  },
  methods: {
    changeEmail() {
      let email = this.emailInfo.currentEmail
      User.setEmailInfo(this, {
        email: email
      })
    },
    confirmEmail() {
      let email = this.emailInfo.currentEmail
      User.confirmEmail(this, {
        email: email,
        confirmCode: this.confirmCode
      })
    },
    notifyConfirmation() {
      const h = this.$createElement
      this.$notify({
        title: 'Confirmation',
        type: 'success',
        message: h('i', { style: 'color: teal' }, 'E-mail has been confirmed!'),
        duration: 0
      })
    }
  },
  computed: {
    isCurrentEmail() {
      return this.emailInfo.currentEmail === '' || this.emailInfo.currentEmail === null
    },
    isPendingEmail() {
      return this.emailInfo.pendingEmail !== null
    }
  }
}
</script>
