<template>
  <div class="update-password card-block">
    <form @submit.prevent="validateBeforeSubmit" class="form-horizontal form-material">
      <div class="form-group">
        <label class="col-md-12">{{$t('Current Password')}}</label>
        <div class="col-md-12">
          <input v-model="oldPassword" type="password" class="form-control form-control-line" name="oldPassword" v-validate data-vv-rules="required" :class="{'has-error': errors.has('oldPassword')}">
          <span v-show="errors.has('oldPassword')" class="error-msg text-danger">{{errors.first('oldPassword')}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">{{$t('New Password')}}</label>
        <div class="col-md-12">
          <input v-model="newPassword" type="password" class="form-control form-control-line" name="newPassword" v-validate data-vv-rules="required" :class="{'has-error': errors.has('newPassword')}">
          <span v-show="errors.has('newPassword')" class="error-msg text-danger">{{errors.first('newPassword')}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">{{$t('Repeat Password')}}</label>
        <div class="col-md-12">
          <input v-model="repeatPassword" type="password" class="form-control form-control-line" name="repeatPassword" v-validate data-vv-rules="required" :class="{'has-error': errors.has('repeatPassword')}">
          <span v-show="errors.has('repeatPassword')" class="error-msg text-danger">{{errors.first('repeatPassword')}}</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">{{$t('Update Password')}}</button>
        </div>
      </div>
      <b-alert v-if="passwordChanged" variant="success" dismissible :show="true" @dismissed="passwordChanged = false">
        {{$t('Password has successfully changed')}}
      </b-alert>
      <b-alert v-if="passwordError" variant="danger" :show="true" dismissible @dismissed="passwordError = null">
        {{$t(passwordError)}}
      </b-alert>
    </form>
  </div>

</template>

<script>
import User from '../../../api/user'
import LoadingScreen from '../../Elements/LoadingScreen'

export default {
  name: 'Settings',
  components: {
    LoadingScreen
  },
  data() {
    return {
      loading: false,
      oldPassword: '',
      newPassword: '',
      repeatPassword: '',
      passwordChanged: false,
      passwordError: null,
      showPasswordError: false
    }
  },
  created() {},
  computed: {
    customer() {
      return this.$store.state.customerInfo
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.updateCustomerPassword()
          return
        }
      })
    },
    updateCustomerPassword() {
      let payload = {
        oldPassword: this.oldPassword,
        newPassword: this.newPassword
      }
      this.newPassword === this.repeatPassword
        ? User.updateCustomerPassword(this, payload)
        : (this.passwordError = 'Password don`t match')
    }
  }
}
</script>
