<template>
  <div class='notification-services'>
    <h5 class="mb-3">{{$t('Notifications Services')}}</h5>
    <div class='services'>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th v-for="channel in channels" :key="channel.id" v-if="channel.active">
              {{$t(channel.title)}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(event) in events" :key="event.id">
            <td> {{$t(event.title)}}</td>
            <td v-for="(setting, index) in event.settings" :key="setting.key" v-if="channels[index].active">
              <switches v-model='setting.active' theme='flat' color='flat-green' class='mt-3' :emit-on-mount="false" @input="switched(setting.key, event.id, setting.active)"></switches>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Switches from 'vue-switches'
import Settings from '../../../api/settings.js'

export default {
  name: 'NotificationServices',
  components: {
    Switches
  },
  data() {
    return {
      errorMsg: '',
      telegramTransactions: false,
      telegramOutcome: false,
      telegramPws: false,
      mailTransaction: false,
      mailOutcome: false,
      mailPws: false,
      channels: null,
      events: null
    }
  },
  created() {
    Settings.getChannels(this)
    Settings.getEvents(this)
  },
  methods: {
    switched(channelId, eventId, status) {
      Settings.setEvent(this, {
        channelId: channelId,
        eventId: eventId,
        status: status
      })
    }
  },
  computed: {}
}
</script>

<style lang='scss'>
</style>

