<template>
  <section class="page-settings">
    <loading-screen :loading="loading"></loading-screen>
    <div class="row">
      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <center class="m-t-30">
              <img src="../../../assets/images/users/user.jpg" class="img-circle" width="150" />
              <h4 class="card-title m-t-10">{{customer.firstName}} {{customer.lastName}}</h4>
            </center>
          </div>
          <div>
            <hr>
          </div>
          <div class="card-block">
            <small class="text-muted">{{$t('Email address')}}</small>
            <h6>{{customer.email}}</h6>
            <small class="text-muted p-t-30 db">{{$t('Phone')}}</small>
            <h6>{{customer.phone}}</h6>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
          <ul class="nav nav-tabs profile-tab" role="tablist">
            <li v-for="tab in tabs" class="nav-item" :key="tab">
              <a class="nav-link" :class="{'active': currentView === tab}" href="#" @click.prevent="currentView = tab">
                {{$t(aliases[tab])}}
              </a>
            </li>
          </ul>
          <component :is="currentView" :customer="customer">
            <!--TAB CONTENT-->
          </component>
        </div>
      </div>
      <!-- Column -->
    </div>
  </section>
</template>

<script>
import LoadingScreen from '../../Elements/LoadingScreen'
import ManageProfile from './ManageProfile.vue'
import ManageNotifications from './ManageNotifications.vue'
import ManagePassword from './ManagaPassword'
import ManageSecurity from './ManageSecurity'

const FIRST_TAB = 'ManageProfile'
const SECOND_TAB = 'ManageNotifications'
const THIRD_TAB = 'ManagePassword'
const FOURTH_TAB = 'ManageSecurity'
export default {
  name: 'Profile',
  components: {
    LoadingScreen,
    ManageNotifications,
    ManageProfile,
    ManagePassword,
    ManageSecurity
  },
  data() {
    return {
      tabs: [FIRST_TAB, SECOND_TAB, THIRD_TAB, FOURTH_TAB],
      aliases: {
        [FIRST_TAB]: 'Profile',
        [SECOND_TAB]: 'Notifications',
        [THIRD_TAB]: 'Password',
        [FOURTH_TAB]: 'Security'
      },
      currentView: SECOND_TAB,
      loading: false
    }
  },
  computed: {
    customer() {
      return this.$store.state.customerInfo
    }
  }
}
</script>

