<template>
  <div class="form-horizontal form-material">
    <div class="form-group">
      <div class="col-md-12">
        <h4 class="label text-black">Telegram</h4>
        <switches v-model="telegramEnabled" @input="onSwitch" theme="flat" color="flat-green" class="mt-3"></switches>
      </div>
    </div>
    <div class="form-group" v-if="telegramEnabled && !telegramActivated">
      <div class="col-md-12">
        <h4 class="label text-black">
          Перейдите в чат и получить свой ID.<br> Затем вставьте полученный ID в поле ниже.
        </h4><br>
        <a target="_blank" :href="telegramInfo.telegramBotUrl" class="btn btn-secondary">Перейти в чат</a>
      </div>

      <template v-if="!idIsSent">
        <div class="col-md-12 mt-3 mb-3">
          <input v-model="telegramId" type="text" placeholder="Telegram ID" class="form-control mb-3" v-validate="'required'" name="id">
          <div v-show="errors.has('id')" class="alert alert-danger">{{ errors.first('id') }}</div>
        </div>
        <div class="col-md-12">
          <button @click.prevent="validateBeforeActivate()" class="btn btn-primary text-white">Готово!</button>
        </div>
      </template>
      <template v-if="idIsSent">
        <div class="col-md-12 mt-3 mb-3">
          <input v-model="confirmCode" type="text" placeholder="Код потверждения" class="form-control">
        </div>
        <div class="col-md-12">
          <button @click.prevent="confirmTelegram()" class="btn btn-primary text-white">Потвердить</button>
        </div>
      </template>

    </div>
    <div class="form-group" v-if="errorMessage">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="form-group" v-if="successMsg">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert">
          {{successMsg}}
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Settings from '../../../api/settings'
import User from '../../../api/user'
import Switches from 'vue-switches'

export default {
  name: 'ManageTelegram',
  components: {
    Switches
  },
  data() {
    return {
      telegramEnabled: false,
      telegramActivated: false,
      otpAnswer: null,
      successMsg: '',
      telegramId: '',
      idIsSent: false,
      confirmCode: '',
      telegramError: '',
      loading: true
    }
  },
  watch: {
    'telegramInfo.status': function(newVal) {
      switch (newVal) {
        case 'active':
          this.telegramEnabled = true
          this.telegramActivated = true
          break
        case 'pending':
          this.telegramEnabled = true
          break
        case null:
          this.telegramEnabled = false
          break
        default:
          this.telegramEnabled = false
          break
      }
    }
  },
  beforeCreate() {
    Settings.getTelegramInfo(this)
    User.getCustomerInfo(this)
    User.getEmailInfo(this)
  },
  computed: {
    isTelegramId() {
      if (this.telegramInfo.telegramId) return true
      return false
    },
    telegramInfo() {
      return this.$store.state.telegramInfo
    },
    errorMessage() {
      return this.$store.state.errorMessage
    }
  },
  methods: {
    onSwitch(value) {
      this.telegramEnabled = value
    },
    activateTelegram() {
      let telegramId = this.telegramId
      Settings.activateTelegram(this, {
        telegramId: telegramId
      })
    },
    confirmTelegram() {
      this.loading = true
      let confirmData = {
        telegramId: this.telegramId,
        confirmCode: this.confirmCode
      }
      Settings.confirmTelegram(confirmData, this)
    },
    notifyConfirmation() {
      const h = this.$createElement
      this.$notify({
        title: 'Yep!',
        type: 'success',
        message: h('i', { style: 'color: teal' }, 'Telegram has been confirmed!'),
        duration: 0
      })
    },
    validateBeforeActivate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.activateTelegram()
        }
      })
    }
  }
}
</script>

<style>
  .profile-telegram {
    position: relative;
  }
</style>